
body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

.index{
    background-color: white;
    font-family: "Prosto One", serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: white;
    color: #000000;
    text-align: center;
    height: 80px; /* Adjust this value as needed */
    display: flex;
    align-items: center; /* Vertically center the logo */
    justify-content: center; /* Horizontally center the logo */
}

.project-row {
    margin-top: 1%;
    margin-bottom: 1%;
    transition: all 0.3s
}

.project-row:hover{
    transform: scale(1.15)
}

.bnuyy{
    background-color: aliceblue;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body.bnuyy{
    color: rgb(199, 97, 97);
}

.ufo{
    background-color: #000000;
}

body.ufo{
    color:yellow;
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
}
header.ufo{
    background-color: black;
    color: yellow;
}



.ballet-logo {
    font-family: "Ballet", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.logo{
    width:10%
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .logo {
      width: 30%;
    }
  }

@media  screen and (max-width: 557px) 
{
    .logo {
        width: 40%;
      }
}

video {
    clip-path: inset(1px 1px);
}

.prosto-one-regular {
    font-family: "Prosto One", serif;
    font-weight: 400;
    font-style: normal;
}

.press-start-2p-regular {
    font-family: "Press Start 2P", serif;
    font-weight: 400;
    font-style: normal;
}


.quicksand-p {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

.fade-in-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in-section.is-visible {
    opacity: 1;
    transform: translateY(0);
}
  
  
  
